* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;

}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: #f5f7fb;
}

/* Header */
header {
    background: #2ecc71;
    color: white;
    text-align: center;
    padding: 18px;
    font-size: 22px;
    font-weight: 600;
}

/* layout */
.container {
    display: flex;
    flex: 1;
}

/* Sidebar */
.sidebar  {
    width: 220px;
    background: #1f3c88;
    padding-top: 30px;
    display: flex;
    flex-direction: column;
}

.sidebar a {
    color: white;
    padding: 15px 25px;
    text-decoration: none;
    transition: 0.3s;
}

.sidebar a:hover {
    background: #162d66;
    padding-left: 30px;
}

/* Main Content */
.content {
    flex: 1;
    padding: 40px;
}

/* Card */
.card {
    background: white ;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.08);
}

.form-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

input, select, textarea {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border-radius: 6px;
    border: 1px solid #ccc;
}
/*Buttons*/
button {
    padding: 10px 20px;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    font-weight: 500;
    transition: 0.3s;
}

.primary-btn {
    background: #2c7be5;
    color: white;
}

.primary-btn:hover {
    background: #1a5fc4;
}

.danger-btn {
    background: #e74c3c;
    color: white;
}

.danger-btn:hover {
    background: #c0392b;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 25px;
}

.product-card {
    background: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    transition: 0.3s;
}

.product-card:hover {
    transform: translate(-8px);
    box-shadow: 0 15px 25px rgba(0,0,0,0.15);
}

.product-card img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 6px;
}

/*Table*/
table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 12px;
    border-bottom: 1px solid #ddd;
    text-align: center;
}

/* Footer */
footer {
    background: #111;
    color: white;
    text-align: center;
    padding: 15px;
}    


/* Responsive */
@media (max-width: 768px){

    .container {
        flex-direction: column;
    }    

    .sidebar {
        width: 100%;
        flex-direction: row;
        justify-content: space-around;
    }    

    .form-grid {
        grid-template-columns: 1fr;
    }
}    

